<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>AYISIN CONNECT is a discussion or informational website where you can discuss about different topics anonymously </p>
    <p>We’re creating a new model for digital publishing. One that supports complexity, and vital storytelling without giving in to the incentives of advertising. It’s an environment that’s open to everyone.</p>
    <p>AYISIN CONNECT is where those ideas take shape, take off, and spark powerful conversations.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>